<div class="container">
  <div class="vertical-center">
    <div *ngIf="!wordGuessCorrect">
      <h1 style="margin-top: 20vh">The correct word was</h1>
      <h1
        style="
          font-weight: bold;
          margin: 50px;
          font-size: 5rem;
          text-transform: uppercase;
        "
      >
        {{ secretWord }}
      </h1>
      <button
        class="btn btn-primary"
        style="width: 10%; margin: 0 auto"
        (click)="closeDialog()"
      >
        Close
      </button>
    </div>
    <div *ngIf="wordGuessCorrect && category != 'swiss'">
      <h1 style="margin-top: 20vh">Congrats, you guessed the correct word</h1>
      <button
        class="btn btn-primary"
        style="width: 10%; margin: 0 auto"
        (click)="closeDialog()"
      >
        Close
      </button>
    </div>
    <div *ngIf="wordGuessCorrect && category === 'swiss'">
      <h1 style="margin-top: 20vh">Du bisch en wahre Bünzli</h1>
      <button
        class="btn btn-primary"
        style="width: 10%; margin: 0 auto"
        (click)="closeDialog()"
      >
        Close
      </button>
    </div>
  </div>
</div>
