h3 {
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-weight: bold;
  font-size: 3rem;
}

.game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid black;
  border-radius: 8px;
  margin: 2px;
  font-size: 2.7rem;
  font-weight: 700;
  height: 10vh;
  max-height: 10vw;
  width: 10vh;
  max-width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  &.correct-position {
    background-color: #008801;
    transform: rotateX(360deg);
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  &.isinword {
    background-color: #ffcf16;
    transform: rotateX(360deg);
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  &.notinword {
    background-color: rgb(104, 104, 104);
    transform: rotateX(360deg);
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin-top: 2.5vh;
}

.keyboard-button {
  font-size: 1.5rem;
  height: fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 0.7rem;
  margin: 2px 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.category-button {
  background-color: #3ea3da;
  padding: 9px;
  border-radius: 3px;
  margin: 15px;
  color: white;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

.center{
  display: flex;
  justify-content: center;
}